* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
dt {
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  user-select: none;
}

img {
  vertical-align: auto;
  object-fit: fill;
}

.sidenav,
.hum-menu {
  display: none;
}

.header-tf {
  position: fixed;
  background-color: #93c1e6;
  width: 100%;
  height: auto;
  z-index: 2;
  top: 0;
}

h1 {
  position: relative;
  top: 20px;
  left: 50px;
  font-size: 56px;
  line-height: 0.9em;
  display: inline-block;
}

header ul {
  float: right;
  position: relative;
  right: 50px;
  top: -15px;
  padding-left: 0;
}

header a {
  font-size: 1.5rem;
}

header ul li,
footer ul li {
  display: inline-block;
}

header ul li {
  margin: 0 15px;
}

header a,
footer a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

.h-img {
  position: relative;
  margin-top: 85px;
}

.h-img img {
  height: 750px;
  width: 100%;
}

.slideshow {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 16px;
  margin-top: 450px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.products {
  text-align: center;
  margin: 150px 0;
}

.cookie,
.cake {
  display: inline-block;
}

.cookie {
  margin-right: 20px;
}

.cake {
  margin-left: 20px;
}

.cookie img,
.cake img {
  height: 450px;
  width: 450px;
  border: 16px solid #93c1e6;
}

.products p {
  margin-top: 25px;
}

.chef,
.place {
  text-align: center;
}

.chef img,
.place img {
  height: 500px;
  width: 450px;
}

.chef img,
.abc {
  padding-left: 20px;
}

.chef-data .place img {
  padding-right: 20px;
}

.chef-data,
.abc,
.chef-image,
.abc-image {
  width: 450px;
  display: inline-block;
}

.chef-image,
.abc {
  vertical-align: bottom;
}

.chef-data,
.abc {
  padding-bottom: 90px;
  text-align: justify;
  margin: 0 auto;
}

.chef-data dl {
  width: 300px;
  margin: 0 auto;
}

.place h2 {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.abc p {
  margin: 0 auto;
  width: 300px;
}

.map {
  margin-top: 75px;
  text-align: center;
}

footer {
  margin-top: 125px;
  text-align: center;
  background-color: #93c1e6;
  padding: 25px;
}

footer ul li {
  margin: 10px;
}

.sns img {
  height: 40px;
}
